.nl-banner {
  margin-top: $banner-margin-top-pc;

  @include media-breakpoint-down(md) {
    margin-top: 0;
  }

  //   .nl-banner__inner {

  // }
}

.container {
  max-width: 1280px;
  width: 100%;
}

.banner-content {
  display: flex;
  padding-top: 79px;
  position: relative;
  z-index: 9;
  width: 110%;


  .banner- {

    margin-left: 66px;
    padding-top: 50px;

    .banner-text {
      // width: 546px;
      max-width: 100%;

      .text {

        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.13px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #0080f6;
      }

      .textt- {
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 62.5px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #0080f6;
      }

      .text-content {
        font-family: "Roboto", sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 75px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #0080f6;
        margin-left: -118px;
      }
    }

    .content {
      width: 669px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: left;
      color: #1d2939;
      margin: 20px 0;

      .content- {
        width: 102%;
        max-width: 658px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        color: #1d2939;
        margin: 20px 0;
        overflow: hidden;

      }
    }

    .dl {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;
      padding-top: 32px;
      max-width: 351px;
      width: 100%;

      .badge-gg {
        width: 169px;
        height: 50px;
        gap: 0px;
        opacity: 0px;
      }

      .badge-app {
        width: 150px;
        height: 50px;
        gap: 0px;
        opacity: 0px;
      }
    }
  }

  .banner-right {
    margin-left: -3px;
    margin-top: 73px;
    display: flex;
    flex-direction: column;


  }
}

// .tron {
//   width: 69px;
//   height: 69px;
//   top: 183px;
//   left: 151px;
// }

#nl-main .sl-section:nth-child(2) {
  position: relative;
  z-index: 30;
  margin-top: -4%;

  @media (min-width: 1600px) and (max-width: 1900px) {
    margin-top: 0%;
  }

  @include media-breakpoint-down(lg) {
    margin-top: 0;
  }
}

#nl-main {
  .banner {
    background:
      url("/images/banner.webp") no-repeat top center,
      linear-gradient(90deg, #fcf1fe 0%, #e8f3fe 100%);
    background-size: contain;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 123px;
      background: #ffffff;
      z-index: 9;
      bottom: 0;
    }
  }
}


@media (max-width: 533px) {
  .banner-content {
    .banner- {
      background-color: #ffffff;
      margin-left: -14px;
      padding: 0px 15px;
      width: 100%;
      margin-top: -50px;
    }
  }
}


@media (max-width: 579px) {
  .banner-content {
    .banner-text {
      .text-content {
        margin-left: -197px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 639px) {
  .banner-content {
    .banner- {
      .banner-text {
        .text {
          font-size: 20px;
        }

        .textt- {
          font-size: 24px;
          margin-top: -11px;
        }

        .text-content {
          font-size: 40px;
          margin-left: 0px;
          margin-top: -24px;
          width: 342px;
        }
      }

    }
  }
}

//phải để theo thứ tự từ lớn đến bé

@media (max-width: 431px) {
  .banner-content {
    padding-top: 220px;
  }
}

@media (max-width: 415px) {
  .banner-content {
    padding-top: 200px;
  }
}

@media (max-width: 391px) {
  .banner-content {
    padding-top: 160px;
  }
}
@media (max-width: 376px) {
  .banner-content {
    padding-top: 141px;
  }
}


@media (min-width: 375px) and (max-width: 533px) {
  .banner-content {
    .banner- {
      .content {
        width: 100%;
        margin-top: 3px;
      }
    }
  }
}

@media (max-width: 533px) {
  .banner-right {
    img {

      padding-left: 60px;

    }
  }
}


@media (min-width: 375px) and (max-width: 639px) {
  .banner-content {
    .banner- {
      .dl {
        padding: 19px 0px;
        gap: 24px;
      }
    }
  }
}

@media (max-width:533px) {
  #nl-main {
    .banner {
      background:
        url("/images/bac-mobi.webp")top center;
      background-size: contain;
      padding-top: 540px;
      background-repeat: no-repeat;

    }
  }
}