@import "../../../core/components/dropdown";

#nl-header {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  @include box-shadow(inherit);
  z-index: 9;
  position: absolute;

  .MuiToolbar-root {
    width: 100%;
    flex: 0 0 100%;
    min-height: auto;
  }

  //media min-width 992px
  @include media-breakpoint-up(lg) {
    #nl-headerr__mastehead {
      height: $header-height-pc;
      padding: $header-padding;
      width: 100%;
      flex: 0 0 100%;
      overflow: hidden;
      gap: 0px;
      opacity: 1px;

      .d-flex- {
        height: 100%;
        align-items: center;
      }
    }

    .ellipse-circle {
      position: absolute;
      width: 960px;
      height: 960px;
      left: 1234px;
      top: -579px;
      border-radius: 50%;
      background: #e0e9fe;
      overflow: hidden;
      bottom: 0;

      .tron {
        .img {
          width: 122px;
          height: 122px;
          margin-left: 0px;
          margin-top: 159px;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    #nl-headerr__mastehead {
      height: $header-height-pc;
      padding: $header-padding;
      width: 100%;
      flex: 0 0 100%;
      overflow: hidden;
      width: 1921px;
      height: 616px;
      gap: 0px;
      opacity: 1px;
    }
  }

  @include media-breakpoint-only(lg) {
    #nl-headerr__mastehead {
      padding: 0 30px;
    }
  }

  #nl-headerr__mastehead {
    // height: 481px;
    padding: 0 30px;
    // width: 100%;
    flex: 0 0 100%;

    .d-flex- {
      height: 100%;
      align-items: center;
    }
  }
}

//media screen 575.98px
@include media-breakpoint-down(sm) {
  #nl-headerr__mastehead {
    padding: 0 15px;
    // height: 482px;
    // width: 375px;
    // background: linear-gradient(90deg, #fcf1fe 0%, #e8f3fe 100%);
  }
}

@media (min-width: 375px) {
  #nl-headerr__mastehead {
    .d-flex- {
      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        // padding: 30px 1px;
        padding-top: 26px;
        // left: -8px;

        .doctor-text {
          display: flex;
          flex-direction: row;
          align-items: center;
          // padding: -31px 2px;
          width: 100%;
        }
        .language {
          display: flex;
          flex-direction: unset;
          align-items: center;
          // padding: 0px 51px;
          gap: 24px;
          //  padding-left: 42px;
        }
      }
    }
  }
}
.menu {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  // gap: 0px;
  opacity: 1;
  position: relative;
  top: 0;
  z-index: 1000;

  .doctor-text {
    // width: 1098px;
    // height: 34.55px;
    gap: 40px;
    display: flex;
    align-items: center;
    // gap: 5px;

    .group-doctor {
      /* Frame 33996 */

      /* Auto layout */
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 12px;
      width: 100%;
      // width: 185px;
      // height: 43px;

      .contentt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 1px;

        p {
          // width: 79px;
          // height: 19px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.02em;
          color: #0080f6;
        }
        h1 {
          /* Đái tháo đường */

          // width: 144px;
          // height: 23px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.02em;
          color: #0080f6;
        }
      }
    }
  }
}

//   .language {
//     // width: 182px;
//     // height: 36px;
//     gap: 17px;
//     // padding: 0 20px;
//     display: flex;
//     // justify-content: space-between;
//     align-items: center;

//     .button- {
//       width: 70px;
//       // height: 20px;
//       // gap: 0px;
//       // opacity: 0px;
//       display: flex;
//       align-items: center;
//       // margin-right: 20px;

//       .button-base {
//         width: 70px;
//         // height: 20px;
//         gap: 4px;
//         opacity: 0px;
//         display: flex;
//         align-items: center;

//         .text-v {
//           width: 28px;
//           // height: 20px;
//           // gap: 0px;
//           // opacity: 0px;
//           font-family: "Roboto", sans-serif;
//           font-size: 20px;
//           font-weight: 500;
//           line-height: 20px;
//           text-align: left;
//           color: #0080f6;
//         }

//         .text- {
//           width: 8px;
//           // height: 20px;
//           // gap: 0px;
//           // opacity: 0px;
//           font-family: "Roboto", sans-serif;
//           font-size: 20px;
//           font-weight: 100;
//           line-height: 20px;
//           text-align: left;
//           color: #0080f6;
//         }

//         .text-e {
//           width: 26px;
//           // height: 20px;
//           // gap: 0px;
//           // opacity: 0px;
//           font-family: "Roboto", sans-serif;
//           font-size: 20px;
//           font-weight: 500;
//           line-height: 20px;
//           text-align: left;
//           color: #98a2b3;
//         }
//       }
//     }

//     .language-call {
//       width: 88px;
//       // height: 36px;
//       padding: 8px 16px 8px 16px;
//       gap: 10px;
//       border-radius: 8px 8px 8px 8px;
//       // opacity: 0px;
//       background: #0080f6;
//       display: flex;
//       align-items: center;

//       .call-text {
//         width: 56px;
//         // height: 20px;
//         gap: 0px;
//         opacity: 0px;
//         font-family: "Inter", sans-serif;
//         font-size: 16px;
//         font-weight: 500;
//         line-height: 20px;
//         text-align: center;
//         color: #ffffff;
//       }
//     }
//   }

// .heart {
//   width: 18.36px;
//   height: 17.72px;
//   margin-top: 0px;
//   margin-left: 16.43px;
//   // gap: 0px;
//   // opacity: 0px;
// }

//media max-width:991.98px
@include media-breakpoint-down(lg) {
  #nl-headerr__mastehead {
    // background-color: $header-background;
    // transition:background-color .4s;
    // @include box-shadow($header-shadow);

    @include media-breakpoint-up(md) {
      &.transparent {
        // background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.8) 10%,rgba(255, 255, 255, 0.08));
        box-shadow: inherit;
        -webkit-box-shadow: inherit;
        -moz-box-shadow: inherit;
        background-color: transparent;
        transition: background-color 0.4s;
        // background: linear-gradient(90deg, #fcf1fe 0%, #e8f3fe 100%);
      }

      #guide-nav nav ul li a {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;

        &.active {
          color: #f04438;
        }

        &:hover {
          color: #f04438;
        }
      }

      #guide-search > .ic-search i {
        color: #fff;
      }

      #guide-user .guide-user__login--no i {
        color: #fff;
      }
    }
  }
}
