.activity {
  background: linear-gradient(90deg, #fcf1fe 0%, #e8f3fe 100%);
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  padding: 56px 40px;
  // gap: 10px;
  width: 100%;
  margin-top: 120px;
  border-radius: 131px;

  .activity-title {
    color: #1d2939;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  .activity-content {
    padding-top: 80px;
    margin: 0 auto;
    .item-box {
      padding: 22px;

      .item {
        width: 100%;
        text-align: center;
        margin-top: -20px;

        img {
          height: 150px;
          
        }

        .bu-text {
          padding-top: 40px;

          .text- {
            font-family: "Roboto";
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: #1d2939;
          }

          .text-- {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            align-self: stretch;
            color: #1d2939;
            padding-top: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 630px) {
  .activity {
    border-radius: 40px;
    padding: 16px;
    padding-top: 40px;
    .activity-content {
      padding-top: 40px;
    }
  }
}

@media (min-width: 0px) and (max-width: 382px) {
  .activity {
    margin-top: 100px;
    border-radius: 40px;
    padding: 16px;
    padding-top: 40px;
    .activity-content {
      padding-top: 40px;
      gap: 40px;

      .item-box {

        .item {
          width: 100%;

          // img {
          //   padding-left: 23px;
          // }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .activity {
    border-radius: 40px;
    padding: 16px;
    padding-top: 40px;
    .activity-content {
      padding-top: 40px;
      gap: 40px;

      .item-box {

        .item {
          width: 100%;

          // img {
          //   padding-left: 34px;
          // }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 533px) {
  .activity {
    border-radius: 40px;
    padding: 16px;
    padding-top: 40px;

    .activity-content {
      padding-top: 40px;
      gap: 40px;
      .item-box {

        .item {
          width: 100%;

          // img {
          //   padding-left: 53px;
          // }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 382px) {
  .activity {
    border-radius: 40px;
    padding: 16px;
    padding-top: 40px;
    .activity-title {
      font-size: 24px;
    }
  }
}
