.acitivy-online {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 33px;
  max-width: 509px;
  // height: 335px;
  margin-left: 187px;
  margin-top: 180px;

  .content-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 509px;
    // height: 38px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    .content-text {
      width: 384px;
      // height: 38px;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.02em;

      color: #1d2939;

      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
  .group-icon {
    width: 509px;
    height: 264px;
    border: 0px solid var(--primary-main, #116cff);

    flex: none;
    order: 1;
    flex-grow: 0;

    .group-farm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 48px;

      position: absolute;
      // width: 509px;
      // height: 264px;
      // left: 0px;
      // top: 71px;

      .logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;

        width: 289px;
        height: 56px;

        flex: none;
        order: 0;
        flex-grow: 0;

        .logout-icon {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 10px;
          isolation: isolate;

          width: 56px;
          height: 56px;

          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .logout-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px;
          gap: 4px;

          flex: none;
          order: 1;
          flex-grow: 0;

          width: 196px;
          // height: 23px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.02em;

          /* Grey/800 */
          color: #1d2939;

          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }

      .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;

        width: 289px;
        height: 56px;

        flex: none;
        order: 0;
        flex-grow: 0;

        .search-icon {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 10px;
          isolation: isolate;

          width: 56px;
          // height: 56px;

          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .search-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px;
          gap: 4px;

          width: 215px;
          // height: 23px;

          flex: none;
          order: 1;
          flex-grow: 0;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.02em;

          /* Grey/800 */
          color: #1d2939;

          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }

      .result {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;

        width: 289px;
        // height: 56px;

        flex: none;
        order: 0;
        flex-grow: 0;

        .result-icon {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 10px;
          isolation: isolate;

          width: 56px;
          // height: 56px;

          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .result-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 0px;
          gap: 4px;

          flex: none;
          order: 1;
          flex-grow: 0;

          width: 193px;
          // height: 23px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.02em;

          /* Grey/800 */
          color: #1d2939;

          flex: none;
          order: 0;
          flex-grow: 0;
        }
      }
    }
    .line2- {
      position: relative;
      width: 46px;
      height: 0px;
      left: 7px;
      top: 79px;
      // border: 1px 0px 0px 0px;

      border: 1px dashed #116cff;
      transform: rotate(90deg);
    }
    .line2 {
      position: relative;
      width: 47px;
      height: 0px;
      left: 6px;
      top: 183px;
      // border: 1px 0px 0px 0px;

      border: 1px dashed #116cff;
      transform: rotate(90deg);
    }
  }
}

.image-doctor {
  img {
    position: relative;
    // width: 459px;
    // height: 437px;
    // margin-left: 618px;
    margin-top: -391px;
    // padding-left: 587px;
    margin-left: 587px;
    display: flex;
  }
}
@media(min-width: 375px) and (max-width:639px) {
  .image-doctor img {
    position: relative;
    margin-top: -660px;
    margin-left: 15px;
    width: 100%;
    height: auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;

  }
}

.ell {
  img {
    position: absolute;
    width: 665px;
    height: 665px;
    margin-left: calc(50% - 332.5px + 396.5px);
    top: 44%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 0, 138, 0.4) 0%,
      rgba(111, 186, 255, 0) 100%
    );
    z-index: -1;
    opacity: 0.2;
    left: -2%;
  }
}

@media (min-width: 375px) and (max-width:639px){
  .content-text {
    font-size: 24px !important;
    line-height: 28px !important;
    margin-left: -21px;
  }
}
@media only screen and (min-width: 375px) and (max-width:639px) {
  .acitivy-online {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
    // width: 343px;
    height: auto;
    margin-left: 4px;
    margin-top: 443px;
    // left: 0;
    // top: 0;
  }

  // .content-text {
  //   font-size: 20px;
  //   line-height: 24px;
  //   font-size: 24px;
  // }

  .group-farm {
    width: 100%;
    flex-direction: column;
    gap: 16px;

    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-left: 20px;
    // width: 343px;
    // height: 216px;

    .group-icon {
      width: 100%;
      align-items: center;
    }

    .logout {
      width: 100%;
      justify-content: center;
    }

    .search {
      width: 100%;
      justify-content: center;
    }

    .result {
      width: 100%;
      justify-content: center;
    }

    .logout-icon {
      width: 40px;
      height: 40px;
    }

    .search-icon {
      // width: 40px;
      //   height: 40px;
      margin-left: 22px;
    }

    .result-icon {
      width: 40px;
      height: 40px;
    }

    .logout-text {
      font-size: 16px;
    }

    .search-text {
      font-size: 16px;
    }

    .result-text {
      font-size: 16px;
    }
  }
}

@media (min-width: 375px) and (max-width:639px){
  .line2-,
  .line2 {
    // display: none !important; /* Hide the elements */
    border: 1px dashed #116cff;
    transform: rotate(90deg);
    margin-left:18px;
  }
}
.line2- {
  position: absolute;
  width: 68px;
  height: 0px;
  left: 44px;
  top: 3434.56px;

  border: 1px dashed #116cff;
  transform: rotate(90deg);
}
.line2 {
  position: absolute;
  width: 68px;
  height: 0px;
  left: 44px;
  top: 3534.56px;

  border: 1px dashed #116cff;
  transform: rotate(90deg);
}
