.online {
  padding: 0px;
  width: 100%;
  padding-top: 231px;

  .online-title {
    color: #1d2939;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-left: -37px;
  }
  .online-content {
    margin-right: 122px;
    margin-left: 231px;
    text-align: center;

    .item-box {

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        padding-top: 35px;
        width: 100%;
        position: absolute;

        .logout {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 40px;

          .logout-icon {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            isolation: isolate;

          }
          .logout-text {
            gap: 4px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1d2939;

          }
        }

        .search {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 40px;

          .search-icon {
            padding: 0px;
            gap: 10px;
            isolation: isolate;
          }

          .search-text {
            padding: 0px;
            gap: 4px;
            font-family: "Roboto";
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #1d2939;

          }
        }

        .result {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 40px;
          .result-icon {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            isolation: isolate;
          }

          .result-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 0px;
            gap: 4px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.02em;

            /* Grey/800 */
            color: #1d2939;

          }
        }

        .line-item {
          position: absolute;
          width: 55px;
          left: 1px;
          top: 216px;
          border: 1px dashed #116cff;
          transform: rotate(90deg);
        }

        .line2 {
          position: relative;
          width: 49px;
          left: 4px;
          top: -230px;
          border: 1px dashed #116cff;
          transform: rotate(90deg);
        }
      }
    }

    img {
      margin-top: -59px;
      margin-left: -25px;
    }
  }
}



@media (min-width: 0px) and (max-width: 639px) {
  .online {
    .online-content {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 80px;
    }
  }
}

@media (min-width: 0px) and (max-width: 533px) {
  .online {
    padding-left: 32px;

    .online-content {
      .item-box {

        margin-left: -147px;
        margin-top: -115px;

        .online-title {
          font-size: 24px;
          width: 283px;
          margin-left: -104px;
          text-align: center;
        }

        .item {
          text-align: center;
          margin-left: -43%;

          .search-icon {
            margin-top: -20px;
          }

          .result-icon {
            margin-top: -20px;

          }

          .line-item {
            width: 30px;
            left: 56px;
            top: 189px;
          }

          .line2 {
            width: 31px;
            left: 9px;
            top: -205px;
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 553px) {
  .online {
    .online-content {
      img {
        width: 522px;
        margin-left: -128px;
      }
    }

    .item {
      padding: 14px;
      padding-left: 12%;


    }
  }
}